body {
  background-color: #E0F2FF !important; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

Header .Header {
    font-size: 60px;
    padding-top: 60px;
    text-align: center;
    font-family: "vortice-concept", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
   padding-left: 30px;
    
}

.Header img {
  width: 100px;
  margin-top: -10px; 
  padding-top: 0; 
}

p {
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-size: medium;
    font-style: normal;
    justify-content: center;
    padding-top: 5em;
}


.Header a{
    font-family: "vortice-concept", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
    padding-top: 5px;
}

.Header a:hover {
  color: black;
  text-decoration: none;
}

.NavBar {
    padding-left: 75%;
    font-family: "josefin-sans", sans-serif;
    font-weight: 50;
    font-style: normal;
    color: #000;
    font-size: 10em;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    margin-top: -80px;

}

.NavBar a:hover {
  color: black;
}

.NavBar a {
  color:#000;
}



.ToDo {
    padding-right: 0px;
}

.Pomodoro {
    padding-right: 70px;
}

#textBoxContainer {
    position: relative;
}

.TaskInputQuestion {
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 80px;


}

.TaskInput {
    align-items: center;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 510px;
    height: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: #689dd6;
  }
  
  [id*="user-input"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    resize: none; 
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 30px;
    font-size: medium;
    padding: 0px;
    width: 508px;
    height: 38px;
    margin: 0 auto;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: -10px;

  }
  
  .empty-line {
    height: 30px; 
  }

  .addMore {
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    bottom: 10px; 
    left: 50%; 
    display: block;
    margin: 20px auto; 
  }

  #send-button {
    padding: 8px 15px;
    border: none;
    background-color: #fff7ec;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    align-items: center;
    display: block;
    margin: 20px auto; 
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #000;
  }
  
  #send-button:hover {
    background-color: #689dd6;
  }

  #textBoxInputs {
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    list-style-type: none; 
    padding-left: 50px;
    padding-bottom: 0px;
    
  }

   
    .task {
        margin-bottom: 10px; 
    }

    
    .task-checkbox {
        margin-right: 10px;

    }

    
    .task label {
        font-size: 16px;
        display: inline-block; 
        vertical-align: middle; 
    }

    .timer {
      font-size: 17em;
      font-family: "josefin-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      outline: 1px solid #000;
      border-radius: 50px;
      height: 500px;
      width: 700px;
      padding-top: 0;
    }

    .tomatoBook img {
      width: 160px;
      height: auto;
      padding-bottom: 0px;
      border: 1px solid #000;
    }

    .bookArrow {
      border: none;
    }

    .tomatoBook p {

      margin: -50px;
    }

    .textContainer {
      width: 600px;
      text-align: center;
    }

    .pomodoroInfo, .pomodoroTimer {
      width: 600px;
      height: 300px; 
      vertical-align: top; 
      margin-right: 100px; 
      padding-top: 60px;
      padding-left: 30px;

    }

    .pomodoroTimer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0; 
      padding: 0; 
      margin-left: 100px;
      padding-top: 100px;
    }

    .pomodoroInfo {
      margin-left: 50px;
    }
   
    
    .pomodoroWrapper {
      display: flex;
    }

    .timerButtons {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
    }

    .timerLengths {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
      margin-bottom: 10px;
    }

    #work, #longBreak, #shortBreak, #start, #pause {
      background-color: #fff7ec;
      border: 1px solid #000;
      font-family: "josefin-sans", sans-serif;
      font-weight: 700;
      font-style: normal;
      padding: 15px;
      border-radius: 30px;

    }

    .bookArrow {
      display: flex;
      align-items: center;

    }

    .bookArrow img {
      margin-right: 20px;
      width: 100px;
      margin-left: 100px;
      margin-top: 0;
    }

    .taskTimeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
  .TaskInputQuestion {
      justify-content: center;
      text-align: center;
      display: flex;
      margin: 0;
  }

  #videoContainer {
    position: relative;
    width: auto; 
    height: auto;

  }
  
  #videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 560 ;
    height: 315;
  }


@media (max-width: 1024px) {
  Header .Header {
    font-size: px;
    
}


  .NavBar {
    display: flex;
    flex-direction: column;
    padding-right:px;
    font-size: 2px;
  }

  
  
  .Header img {
      width: 100px;
  }

  .TaskInputQuestion {
    font-size: 30px;
  }

  .TaskInput {
    align-items: center;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 30px;
  }
  
  [id*="user-input"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    resize: none; 
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 30px;
    font-size: medium;
    padding: 0px;
    width: 298px;
    height: 33px;
    margin: 0 auto;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: -10px;

  }

  .pomodoroWrapper {
    display: flex; 
    flex-direction: column;
    padding-left: 110px;
  }

  .pomodoroInfo {
    margin-left: 50px;
    padding-bottom: 600px;
  }
  
}

@media (max-height:1366px) {
 
}