

/* Add your existing CSS styles here */
Header .Header {
    font-size: 60px;
    padding-top: 60px;
    text-align: center;
    font-family: "vortice-concept", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
   padding-left: 30px;
    
}

.Header img {
  width: 100px;
  margin-top: -10px; /* Adjust the margin to move the image up */
  padding-top: 0; /* You can remove padding-top if it's not needed */
}

p {
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-size: medium;
    font-style: normal;
    justify-content: center;
    padding-top: 5em;
}


.Header a{
    font-family: "vortice-concept", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
    padding-top: 5px;
}

.Header a:hover {
  color: black; /* Change text color to blue on hover */
  text-decoration: none;
}

.NavBar {
    padding-left: 75%;
    font-family: "josefin-sans", sans-serif;
    font-weight: 50;
    font-style: normal;
    color: #000;
    font-size: 10em;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    margin-top: -80px;

}

.NavBar a:hover {
  color: black;
}

.NavBar a {
  color:#000;
}



.ToDo {
    padding-right: 0px;
}

.Pomodoro {
    padding-right: 70px;
}

#textBoxContainer {
    position: relative;
}

.TaskInputQuestion {
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 80px;


}

.TaskInput {
    align-items: center;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 510px;
    height: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: #689dd6;
  }
  
  [id*="user-input"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    resize: none; 
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 30px;
    font-size: medium;
    padding: 0px;
    width: 508px;
    height: 33px;
    margin: 0 auto;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: -10px;

  }
  
  .empty-line {
    height: 30px; /* Adjust this value to increase or decrease the space between divs */
  }

  .addMore {
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    bottom: 10px; /* Adjust this value to position the button vertically */
    left: 50%; /* Aligns the button horizontally to the center */
    display: block;
    margin: 20px auto; /* Centers the buttons horizontally */
  }

  #send-button {
    padding: 8px 15px;
    border: none;
    background-color: #fff7ec;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    align-items: center;
    display: block;
    margin: 20px auto; /* Centers the buttons horizontally */
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #000;
  }
  
  #send-button:hover {
    background-color: #689dd6;
  }

  #textBoxInputs {
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    list-style-type: none; /* Remove bullet points */
    padding-left: 50px;
    padding-bottom: 0px;
    
  }

    /* CSS for styling the checkboxes */
    .task {
        margin-bottom: 10px; /* Add spacing between tasks */
    }

    /* Style for the checkbox input */
    .task-checkbox {
        margin-right: 10px; /* Add spacing between checkbox and label */

    }

    /* Style for the label associated with the checkbox */
    .task label {
        font-size: 16px; /* Adjust font size */
        display: inline-block; /* Ensure label and checkbox are displayed inline */
        vertical-align: middle; /* Align label vertically with checkbox */
    }

    .timer {
      font-size: 17em;
      font-family: "josefin-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      outline: 1px solid #000;
      border-radius: 50px;
      height: 500px;
      padding-top: 0;
    }

    .tomatoBook img {
      width: 160px;
      height: auto;
      padding-bottom: 0px;
    }

    .tomatoBook p {

      margin: -50px; /* Remove default margin of the paragraph */
    }

    .textContainer {
      width: 600px;
      text-align: center;
    }

    .pomodoroInfo, .pomodoroTimer {
      width: 600px; /* Set the width of each container */
      height: 300px; /* Set the height of each container */
      vertical-align: top; /* Align containers at the top */
      margin-right: 100px; /* Add margin between containers */
      padding-top: 60px;
      padding-left: 30px;

    }

    .pomodoroTimer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0; /* Reset margin */
      padding: 0; /* Reset padding */
      margin-left: 100px;
      padding-top: 100px;
    }

    .pomodoroInfo {
      margin-left: 50px;
    }
   
    
    .pomodoroWrapper {
      display: flex; /* Use flexbox to arrange containers */
    }

    .timerButtons {
      display: flex;
      justify-content: center;
      margin-top: 20px; /* Adjust as needed */
    }

    .timerLengths {
      display: flex;
      justify-content: center;
      margin-top: 20px; /* Adjust as needed */
      margin-bottom: 10px;
    }

    #work, #longBreak, #shortBreak, #start, #pause {
      background-color: #fff7ec;
      border: black;
      font-family: "josefin-sans", sans-serif;
      font-weight: 700;
      font-style: normal;
      padding: 15px;
      border-radius: 30px;

    }

    .bookArrow {
      display: flex;
      align-items: center;

    }

    .bookArrow img {
      margin-right: 20px; /* Add space between the image and the paragraph */
      width: 100px;
      margin-left: 100px;
      margin-top: 0;
    }

    .taskTimeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
  .TaskInputQuestion {
      justify-content: center;
      text-align: center;
      display: flex;
      margin: 0;
  }

  #videoContainer {
    position: relative;
    width: auto; /* Adjust the width as needed */
    height: auto;

  }
  
  #videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 560 ;
    height: 315;
  }

/* Responsive Styles for 390x844 */
@media (max-width: 1024px) {
  /* Adjustments for smaller screens */
  Header .Header {
    font-size: px;
    
}


  .NavBar {
    display: flex;
    flex-direction: column;
    padding-right:px;
    font-size: 2px;
  }

  
  
  .Header img {
      width: 100px;
  }

  .TaskInputQuestion {
    font-size: 30px;
  }

  .TaskInput {
    align-items: center;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 30px;
  }
  
  [id*="user-input"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    resize: none; 
    font-family: "josefin-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 30px;
    font-size: medium;
    padding: 0px;
    width: 298px;
    height: 33px;
    margin: 0 auto;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: -10px;

  }

  .pomodoroWrapper {
    display: flex; /* Use flexbox to arrange containers */
    flex-direction: column;
    padding-left: 110px;
  }

  .pomodoroInfo {
    margin-left: 50px;
    padding-bottom: 600px;
  }
  
  
 
  /* Add more responsive adjustments here */
}

@media (max-height:1366px) {
  /* Adjustments for screens with height <= 844px */
  /* You can add specific adjustments for this height if needed */
}