header {
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
}

.logo {
    width: 400px; /* adjusts the size of the logo */
    position: relative;  
}


.line {
    position: absolute; 
    top: 10%; 
    width: calc(100% - 400px); 
    border-top: 5px solid black;
    margin: 0;
    left: 430px; 
}

.tabs { 
    text-transform: capitalize;
    font-size: larger;
    color: #000;
    text-align: right;
    top: 5%;
    position: absolute;
    right: 100px;
}

.cart-link {
    margin-left: 40px;
}

.cart-icon {
    position: absolute;
    top: -15px; 
    right: -25px; 
    width: 20px; 
    height: 20px; 
    background-color: red;
    border-radius: 50% / 80%;
    color: white;
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    position: absolute;
    left: 32%;
    transform: translateX(-50%);
    bottom: 750px; 
    font-size: larger;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 285px); 
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.grid-item img {
    max-height: 285px;
    text-align: left;
}


main { /* aligns all of the main content to the center */
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.product-detail img {
    width: 600px;
    height: 600px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
    font-size: smaller;
}

.wide-column {
    flex: 2;
}

.narrow-column {
    flex: 1;
    font-size: large;
    width: 300px;
}

#glaze {
    width: 250px;
    height: 40px;
    font-size: medium;
}

#pack {
    width: 250px;
    height: 40px;
    font-size: medium;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Two columns */
    justify-content: center; /* Center the grid horizontally */
    gap: 20px;
    margin-top: 100px;
    position: relative;
}

.grid-item3-price {
    text-align: right;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.grid-item3-center {
    margin-top: 20px;
    margin-left: 100px;
}

.line-cart {
    width: 690px;
    border-top: 5px solid black;
    position: absolute; 
    top: 85%; 
    border-top: 5px solid black;
    left: 520px; 
    position: absolute;
}

.button {
    margin-top: 130px;
    margin-left: 100px;
}

.checkout {
    top: 100%; 
    background-color: #fff000;
    border: 2px solid #000;
    padding: 15px 20px;
    color: #000;
    font-weight: bold; 
    width: 130px;   
}

.total {
    margin-left: 700px;
    top: 110%;
}



/* three different paragraph styles: underlined, underlined and bold, and just bold. */

p1 { 
    text-decoration: underline;
    color: #000; 
}

p2 {
    text-decoration: underline;
    font-weight: bold;
    color:#000
}

p3 {
    font-weight: bold;
    color:#000
}

/* creates the border around all of the images */

.border { 
    border: 2px solid #000;
    
}

/* button for checkout */

.checkout {
    position: absolute;
    top: 90%; 
    right: 400px; 
    background-color: #fff000;
    border: 2px solid #000;
    padding: 15px 20px;
    color: #000;
    font-weight: bold; 
    width: 130px;   
}

/* button for add to cart */
.addtocart {
    cursor: not-allowed; 
    background-color: #fff000; 
    border: 3px solid #000; 
    padding: 9px 12px; 
    color: #000; 
    font-weight: bold;

}

/* tracker for the navigation tabs to highlight the name of whichever page the user is on */

.currentpage{
  background-color: #fff000; 
  font-weight: bold;
  
}

/* highlights the navigation text */

.highlight-text:hover{
  background-color: #fff000; 
  font-weight: bold;
}

/*highlights the product and their details when hovered over */

.highlight-text2:hover{
    background-color: #fff000; 
    font-weight: bold;

}




  




