header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

.logo {
    width: 400px; /* adjusts the size of the logo */
    position: relative;  
}


.line {
    position: absolute; /* Position the line absolutely */
    top: 10%; /* Move the line to the vertical center */
    width: calc(100% - 400px); /* Set the width of the line dynamically */
    border-top: 5px solid black;
    margin: 0;
    left: 430px; /* Start the line at the end of the logo */
}

.tabs { /* fixes the style of the navigation tabs */
    text-transform: capitalize;
    font-size: larger;
    color: #000;
    text-align: right;
    top: 5%;
    position: absolute;
    right: 100px;
}

.cart-link {
    margin-left: 40px; /* Add space between "PRODUCTS" and "CART" */
}

.slogan {
    margin-left: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 285px); 
    gap: 50px;
    justify-content: center;
    
}

.grid-item img {
    max-height: 285px;
    text-align: left;
}


main { /* aligns all of the main content to the center */
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;

}

/* three different paragraph styles: underlined, underlined and bold, and just bold. */

p1 { 
    text-decoration: underline;
}

p2 {
    text-decoration: underline;
    font-weight: bold;
}

p3 {
    font-weight: bold;
}

/* creates the border around all of the images */

.border { 
    border: 2px solid #000;
    display: inline-block;
}

/* button for checkout */

.checkout {
    cursor: not-allowed; 
    background-color: #fff000; 
    border: 3px solid #000; 
    padding: 15px 20px; 
    color: #000; 
    font-weight: bold;
    
}

/* button for add to cart */
.addtocart {
    cursor: not-allowed; 
    background-color: #fff000; 
    border: 3px solid #000; 
    padding: 9px 12px; 
    color: #000; 
    font-weight: bold;

}

/* tracker for the navigation tabs to highlight the name of whichever page the user is on */

.currentpage{
  background-color: #fff000; 
  font-weight: bold;
  
}

/* highlights the navigation text */

.highlight-text:hover{
  background-color: #fff000; 
  font-weight: bold;
}

/*highlights the product and their details when hovered over */

.highlight-text2:hover{
    background-color: #fff000; 
    font-weight: bold;

}




  




