.logo {
    width: 400px;
    margin: auto
    
}

.tabs {
    text-transform: capitalize;
    font-weight: 300;
    font-size: medium;
}


main {
    width: 400px;
    text-align: center;
}

p1 {
    text-decoration: underline;
}

.products {
    width: 100 px;
    text-align: center;
}
