.logo {
    width: 400px;
    text-align: left;
}

.tabs {
    text-transform: capitalize;
    font-weight: 300;
    font-size: medium;
}


main {
    margin: auto;
    text-align: center;
    width: 400px;
}

p1 {
    text-decoration: underline;
}

.products {
    width: 400 px;
    text-align: center;
}
