.logo {
    width: 400px;
}

header {
    position: absolute;
}

.line {
    border-top: 2px solid black; 
    width: 100%;
    position: absolute;
    top: 100%;
}

h1 {
    text-transform: uppercase;
    
}