header {
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
}

.logo {
    width: 400px; /* adjusts the size of the logo */
    position: relative;  
}


.line {
    position: absolute; 
    top: 10%; 
    width: calc(100% - 400px); 
    border-top: 5px solid black;
    margin: 0;
    left: 430px; 
}

.tabs { 
    text-transform: capitalize;
    font-size: larger;
    color: #000;
    text-align: right;
    top: 5%;
    position: absolute;
    right: 100px;
}

.cart-link {
    margin-left: 40px;
}

.cart-icon {
    position: absolute;
    top: -15px; 
    right: -25px; 
    width: 16px; 
    height: 25px; 
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    position: absolute;
    left: 32%;
    transform: translateX(-50%);
    bottom: 750px; 
    font-size: larger;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 285px); 
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.grid-item img {
    max-height: 285px;
    text-align: left;
}

.grid-item:hover {
    background-color: yellow;
    width: fit-content;
}


main { /* aligns all of the main content to the center */
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.product-detail img {
    width: 600px;
    height: 600px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
    font-size: smaller;
}

.wide-column {
    flex: 2;
}

.narrow-column {
    flex: 1;
    font-size: large;
    width: 300px;
}

#glazingOptions {
    width: 300px;
    height: 40px;

}

#packSizeOptions {
    width: 300px;
    height: 40px;
}



.total {
    left: 810px;
    position: relative;
    margin-top: 40px;
}
.line-cart {
    width: 620px;
    border-top: 5px solid black;
    position: relative;  
    border-top: 5px solid black;
    left: 500px; 
    margin-top: 0px;
}

.addtocart {
    width: 200px;
    border: 1px;
}


/* three different paragraph styles: underlined, underlined and bold, and just bold. */

p1 { 
    text-decoration: underline;
    color: #000; 
}

p2 {
    text-decoration: underline;
    font-weight: bold;
    color:#000
}

p3 {
    font-weight: bold;
    color:#000
}

/* creates the border around all of the images */

.border { 
    border: 2px solid #000;
    
}

/* button for checkout */

.checkout {
    top: 90%; 
    margin-left: 990px; 
    background-color: #fff000;
    border: 2px solid #000;
    padding: 15px 20px;
    color: #000;
    font-weight: bold; 
    width: 130px;   
}

.remove {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    margin-left: 495px;
    margin-right: 0px;
    font-size: medium;
}

/* button for add to cart */
.addtocart {
    cursor: auto; 
    background-color: #fff000; 
    border: 3px solid #000; 
    padding: 9px 12px; 
    color: #000; 
    font-weight: bold;
    position: absolute;

}

/* tracker for the navigation tabs to highlight the name of whichever page the user is on */

.currentpage {
  background-color: #fff000; 
  font-weight: bold;
  
}

/* highlights the navigation text */

.highlight-text:hover{
  background-color: #fff000; 
  font-weight: bold;
}

#product-image {
    width: 600px; /* Adjust width as needed */
    height: 600px; /* Maintain aspect ratio */
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cart-container {
    margin-top: 40px;
}

.cart-image-container {
    margin-right: 30px;
}

.cart-image-container img {
    width: 200px;
    margin-left: 500px;
    border: 3px solid #000; /* Add a border to the image */
}

.cart-info-container {
    flex-grow: 1;
    width: 400px;
    margin-right: 100px;
}

.cart-price-container {
    display: flex;
    margin-left: 0px;
    margin-right: 600px;

}